<div class="container">
  <div class="overflow-scroll">
    <div class="row">
      <div class="col-sm-5">
        <div class="in-middle">
          <h2 class="spread-head uppercase text-center visible-xs">Careers</h2>
          <div class="position-center full-width">
            <div class="overlay-box text-justify">
              <p class="text-justify">If you wish to be a part of Mark Salon &amp; Spa, you can check out the current vacancies here.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-7">
        <h2 class="spread-head uppercase text-center hidden-xs">Careers</h2>
        <div class="white-accordion">
          <uib-accordion close-others="oneAtATime">
            <uib-accordion-group>
              <uib-accordion-heading>Esthetician<span class="pull-right">+</span></uib-accordion-heading>
              <p>Work Experience: 5+ years
                <br> CTC: Open for the right candidate
                <br> Positions Open: 1
                <br> Location: Bandra</p>
              <p class="light-color">If interested, email us your resume at
                <a href="mailto:join@marksalonandspa.com" class="slant">join@marksalonandspa.com</a>
              </p>
            </uib-accordion-group>
            <uib-accordion-group>
              <uib-accordion-heading>Massage Therapist <span class="pull-right">+</span></uib-accordion-heading>
              <p>Work Experience: 5+ years
                <br> CTC: Open for the right candidate
                <br> Positions Open: 1
                <br> Location: Bandra</p>
              <p class="light-color">If interested, email us your resume at <a href="mailto:join@marksalonandspa.com" class="slant">join@marksalonandspa.com</a>
              </p>
            </uib-accordion-group>
            <uib-accordion-group>
              <uib-accordion-heading>Cosmetologist: Hair Cutter<span class="pull-right">+</span></uib-accordion-heading>
              <p>Work Experience: 5+ years
                <br> CTC: Open for the right candidate
                <br> Positions Open: 1
                <br> Location: Bandra</p>
              <p class="light-color">If interested, email us your resume at
                <a href="mailto:join@marksalonandspa.com" class="slant">join@marksalonandspa.com</a>
              </p>
            </uib-accordion-group>
            <uib-accordion-group>
              <uib-accordion-heading>Nail Technician<span class="pull-right">+</span></uib-accordion-heading>
              <p>Work Experience: 5+ years
                <br> CTC: Open for the right candidate
                <br> Positions Open: 1
                <br> Location: Bandra</p>
              <p class="light-color">If interested, email us your resume at
                <a href="mailto:join@marksalonandspa.com" class="slant">join@marksalonandspa.com</a>
              </p>
            </uib-accordion-group>
            <uib-accordion-group>
              <uib-accordion-heading>Guest Care<span class="pull-right">+</span></uib-accordion-heading>
              <p>Work Experience: 5+ years
                <br> CTC: Open for the right candidate
                <br> Positions Open: 1
                <br> Location: Bandra</p>
              <p class="light-color">If interested, email us your resume at
                <a href="mailto:join@marksalonandspa.com" class="slant">join@marksalonandspa.com</a>
              </p>
            </uib-accordion-group>
            <uib-accordion-group>
              <uib-accordion-heading>Management<span class="pull-right">+</span></uib-accordion-heading>
              <p>Work Experience: 5+ years
                <br> CTC: Open for the right candidate
                <br> Positions Open: 1
                <br> Location: Bandra</p>
              <p class="light-color">If interested, email us your resume at
                <a href="mailto:join@marksalonandspa.com" class="slant">join@marksalonandspa.com</a>
              </p>
            </uib-accordion-group>
          </uib-accordion>
        </div>
      </div>
    </div>
  </div>
</div>
