<div class="container"  taxi-animation>
  <div class="in-middle animationfade">
    <div class="position-center full-width text-center taxiAni" id="high1">
      <h2 class="spread-head uppercase mb20">Brands</h2>
      <div class="row">
        <div class="col-sm-4">
          <div class="brand-holder text-center">
            <img src="img/home/desssangeLogo.png" alt="Desssange" class="img-responsive">

              <a ui-sref="dessange" class="btn btn-primary btn-outline uppercase">Know More</a>

            <!-- <div class="gradient-overlay"></div> -->
          </div>
        </div>
        <div class="col-sm-4">
          <div class="brand-holder">
            <img src="img/home/albaneLogo.png" alt="Albane" class="img-responsive">

              <a ui-sref="albane" class="btn btn-primary btn-outline uppercase">Know More</a>

            <!-- <div class="gradient-overlay"></div> -->
          </div>
        </div>
        <div class="col-sm-4">
          <div class="brand-holder">
            <img src="img/home/phytodess_logo.png" alt="Phytodess" class="img-responsive">
                <a ui-sref="phytodess" class="btn btn-primary btn-outline uppercase">Know More</a>
            <!-- <div class="gradient-overlay"></div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
