<div class="container">
  <div class="overflow-contact">
    <div class="row">
      <div class="contact">
        <h3 class="spread-head-contact uppercase text-right">Contact Us</h3>
        <div class="col-sm-7">
          <div class="map-holder">
            <a href="https://www.google.com/maps/place/105,+Dr+BR+Ambedkar+Rd,+Pali+Hill,+Mumbai,+Maharashtra+400050,+India/@19.063964,72.829513,16z/data=!4m5!3m4!1s0x3be7c91369ab3877:0x6518b60de2f4264c!8m2!3d19.0639635!4d72.8295133?hl=en-US" target="_blank">
              <img src=img/home/contactmap.jpg "" alt="Mark Salon and Spa Pvt Ltd" class="img-responsive" />
            </a>
            <div class="address-box">
              <p>
                <span class="strong">Mark Salon and Spa Pvt Ltd,</span>
                <br> Office number 201, 3rd Floor, Anand Center, 105, Pali Hill, Dr Amedkar Road,
                <br> Bandra (West), Mumbai-400050.
              </p>
              <p class="margin0">
                <a href="tel:+912226050546"><i class="fa fa-phone"></i> +91 2226 0505 46 / 47</a>
                <br>
                <a href="tel:+912226050582"><i class="fa fa-fax"></i> +91 2226 0505 82</a>
                <br>
                <a href="mailto:info@dessangemumbai.com"><i class="fa fa-envelope"></i> info@dessangemumbai.com</a>
                <br>
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="in-width">
            <div class="position-center full-width">
              <div class="underline-form">
                <input type="text" class="form-control" placeholder="Your Name">
                <input type="email" class="form-control" placeholder="Email">
                <input type="tel" class="form-control" placeholder="Telephone">
                <textarea class="form-control" placeholder="Message"></textarea>
                <div class="text-right">
                  <!-- <button class="btn btn-info btn-outline uppercase">Submit</button> -->
                  <button class="btn btn-primary btn-outline uppercase">Submit</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div ng-include="template.footer" class="footer btm-footer"></div>
