<div class="position-center">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="in-middle">
          <h2 class="spread-head position-center uppercase">Overview</h2>
        </div>
      </div>
      <div class="col-md-5">
        <div class="in-middle">
          <div class="position-center full-width">
            <div class="cont-overview text-justify">
              <p class="text-justify">Mark Salon &amp; Spa was established by acclaimed businessmen Riyaz Nagani and Levan Ramishvilli in April 2013.</p>
              <p class="big-text uppercase">The aim was to bring
                <br> world class luxury grooming
                <br> to Mumbai and India</p>
              <p class="text-justify">In partnership with the Dessange, they launched two iconic and statuesque Dessange Paris salons in Mumbai at Kemps Corner and Bandra in September 2013.</p>
              <p class="text-justify">Dessange Paris is the No.1 "Haute Coiffure" brand in the world and is the leading international chain of luxury salons and spa brand with over 2000 outlets in 80 countries. Feminity, elegance and charm are the three pillars that define the
                work of Dessange Paris.</p>
              <button class="btn btn-primary btn-outline uppercase">Know More</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
