@media (max-width: 1200px) {
    .spread-head {
        letter-spacing: 8px;
    }
}
@media (max-width: $screen-sm-max) {
    .spread-head {
        letter-spacing: 20px;
        font-size: 60px;
    }
    .brand-holder {
        width: 100%;
    }
    .spread-head-contact {
        padding: 0;
    }
    .contact .underline-form {
        padding: 0 10px;
    }
    .section.one {
        width: 100%;
        overflow: hidden;
        height: 100vh;
    }
    .section.one video {
        width: auto;
        height: 100%;
    }
}
@media (max-width: $screen-xs-max) {
    .overlay-box {
        margin: 0;
    }
    .section {
        padding-top: 75px;
    }
    .home-landing .logo {
        padding: 0;
        img {
            width: 200px;
        }
    }
    .nav li a {
        padding: 5px 25px;
    }
    .position-center.top60 {
        width: auto;
    }
    .spread-head,
    .spread-head-contact {
        letter-spacing: 8px;
        font-size: 36px;
        text-align: center;
        line-height: 110%;
    }
    .position-center.staticmobile {
        position: static;
        transform: translate(0);
    }
    .in-middle {
        height: auto;
        &.head-title {
            height: 30vh;
        }
    }
    .big-text {
        font-size: 16px;
    }
    .brand-holder img {
        padding-bottom: 0;
        width: 130px;
        margin: 0 auto;
    }
    .social-top {
        position: absolute;
        top: 0;
        right: 14px;
    }
    .navbar-toggle {
        margin-top: 20px;
    }
    .menu-header .navbar-nav {
        float: none;
        text-align: center;
        background: #000;
        margin-top: 1px;
    }
    .overflow-contact {
        padding-bottom: 50px;
    }
    .contact {
        .address-box {
            margin: 15px 6px;
            width: 100%;
        }
        .map-holder img {
            margin: 10px 5px;
        }
    }
    .overflow-scroll {
        padding-bottom: 20px;
    }
    .footer {
        padding: 5px;
        li a {
            font-size: 10px;
            padding-left: 0;
        }
    }
    .mediacorner {
        h1 {
            font-size: 30px;
            letter-spacing: 10px;
        }
    }
    .bg {
        padding: 60px 10px !important;
    }
    .mark-gif {
        opacity: 0;
    }
    .brd-right {
        border-width: 0;
    }
    .btn-med {
        margin: 10px 0;
    }
}
