<div class="aboutus">
  <div class="overview">
    <div class="bg-over">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="head-title in-middle">
              <h2 class="spread-head position-center uppercase">Overview</h2>
            </div>
          </div>
          </div>
          </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="bg">
            <div class="">
              <div class="cont-overview">
                <div class="sub-title">
                  <h2 class="uppercase text-center">ABOUT US</h2>
                </div>
                <div class="cont-abt">
                  <p class="text-justify">
                    Mark Salon & Spa was established by acclaimed businessmen Riyaz Nagani and Levan Ramishvilli in April 2013 with the aim to bring world class luxury grooming to Mumbai and India. In partnership with the Dessange, they launched two iconic and statuesque Dessange Paris salons in Mumbai at Kemps Corner and Bandra in September 2013. Dessange Paris is the No.1 “Haute Coiffure” brand in the world and is the leading international chain of luxury salons and spa brand with over 2000 outlets in 80 countries. Femininity, elegance and charm are the three pillars that define the work of Dessange Paris. It is a house of luxury dedicated to women’s beauty across borders with a state of the art, global concept of natural beauty that comes with a promise of tailor-made offerings.
                  </p>
                  <p class="text-justify">
                    The success of both salons in less than 2 years saw the company rise to the ranks within the market to become a leader and Mark Salon & Spa launched its third Dessange Paris outlet in the plush Phoenix Mills Complex of Lower Parel in May 2015. Mark Salon & Spa now looks to repeat their success with Dessange Paris in Hyderabad, Pune, Chennai and Bangalore amongst other cities.  Mark Salon & Spa now looks to bring another iconic international brand Camille Albane Paris to target the mid luxury segment in the grooming market. Camille Albane, today, is present is 14 countries with over 500 salons.
                  </p>
                  <p class="text-justify">
                    With a vibrant team of employees and headquartered in Mumbai, Mark Salon & Spa is growing from strength to strength in the industry. Levan Ramishvilli, Director, Mark Salon & Spa brings with him over 25 years of international work experience panning markets like France, Georgia, Italy, USA and now India. Riyaz Nagani, Managing Director & CEO, is one of the reputed businessmen of Mumbai with experience panning industries such as Food Industry and Luxury Industry. Together they aim to revolutionize the standards of beauty and grooming in India with state of the art infrastructure, hygiene and world class expertise.
                  </p>
                </div>
                <div class="mission-vision">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="sub-title">
                        <h2 class="uppercase text-center">MISSION</h2>
                      </div>
                      <p class="text-justify">
                        We want to make your salon and spa experience as unique and memorable as you are. Our mission is to consistently bring you the freshest styles and ideas, by keeping up with the current trends and constantly educating ourselves about the best practices. All of our stylists support one another in their personal strengths and goals within the beauty industry and the community. We promise to pay close attention to the details of your service, maintain the highest standard in the cleanliness of our salon, exceed your expectations, and keep you coming back for more!
                      </p>
                    </div>
                    <div class="col-md-6">
                      <div class="sub-title">
                        <h2 class="uppercase text-center">VISION</h2>
                      </div>
                      <p class="text-justify">
                        To relentlessly pursue growth, by continually improving performance, products, and business efficiencies in every area, and at every level of the organization. We want to be known for our reliability, flexibility, honesty, and outstanding service to our customers.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="team">
                  <div class="row">
                      <div class="sub-title">
                        <h2 class="uppercase text-center">team</h2>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="col-md-5">
                        <div class="team-pic">
                          <img src="img/aboutus/people.jpg" class="img-responsive" alt="">
                        </div>
                      </div>
                      <div class="col-md-7">
                      <div class="team-cont">
                        <div class="uppercase name">Mr RIYAZ NAGANI</div>
                        <div class="direct">Director</div>
                        <p class="text-justify">
                          Spearheading the growth of Dessange Paris Salon & Spa in India as a co-founder, Riyaz Nagani is an entrepreneur with 20 years of professional experience. His expertise lies in manufacturing, supplying and exporting meat products, while his passion remains propelling the beauty industry in India. A dynamic person, he has led the company to build a diversified portfolio that includes not just top quality service but also a 360 lifestyle experience.
                        </p>
                        <!-- <div class="socials">Follow him on
                          <span><div ng-include="template.social" class="social text-center"></div></span>
                         </div> -->
                         <!-- <p class="socials">Follow him on  <span>
                            <div ng-include="template.social" class="social text-center"></div>
                        </span></p> -->
                      </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="col-md-5">
                        <div class="team-pic">
                          <img src="img/aboutus/people1.jpg" class="img-responsive" alt="">
                        </div>
                      </div>
                      <div class="col-md-7">
                      <div class="team-cont">
                        <div class="uppercase name">Mr Levan Ramishvili</div>
                        <div class="direct">Director</div>
                        <p class="text-justify">
                          Armed with a PHD in Molecular Biology, Levan Ramishvili’s career trajectory’s been colourful. He has an impressive portfolio including being an Advisor to the Food and Agricultural Organization of the United Nations and World Animal Health Organisation, heading the Food Safety Agency and being Advisor  to the Minister of Agriculture of Georgia. He was also founder and shareholder of certain companies in Georgia and Ukraine. In 2009, he trained his eye to the burgeoning beauty industry in India and launched Dessange Paris Salon & Spa. He’s been a key driving force in establishing Dessange as a renowned beauty and lifestyle brand.
                        </p>
                        <!-- <div class="socials">Follow him on </div>
                        <p ng-include="template.social" class="social text-center"></p> -->
                        <!-- <p class="socials">Follow him on  <span>
                            <div ng-include="template.social" class="social text-center"></div>
                        </span></p> -->
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
