<div class="albane">
    <div class="overview">
        <div class="bg-brand">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="head-title in-middle">
                            <img class="position-center" src="img/albane/Logo.png" alt="Dessange Logo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="bg">
                        <div class="">
                            <div class="cont-dessange">
                                <div class="sub-title">
                                    <h2 class="uppercase text-center">ABOUT CAMILLE ALBANE</h2>
                                </div>
                                <div class="cont-abt">
                                    <p class="text-justify">
                                        Camille Albane is the leading French hair salon franchise with nearly 300 locations throughout Europe; it is part of the larger Dessange International network that also includes the luxury Dessange Paris and value-oriented Fantastic Sams salon brands.
                                        Camille Albane is not just another hairdresser. It is above all a brand that understands that women want to be and look the way they feel. They want their beauty to reflect their personality in spite of their imperfections
                                        to add that “je ne sais quoi” that makes them “interesting”, to be first and foremost true to themselves.
                                    </p>
                                    <p class="text-justify">
                                        The brand’s creator, Jeanne Dereux, brought a Rive Gauche vision to beauty, characterized by its boldness, energy, modernity and conviviality, driven by an original desire to express and reveal each woman’s beauty through: hairdressing, color and make-up.
                                    </p>
                                    <p class="text-justify">
                                        The brand is positioned in the mid/top-range hairdressing segment, with a unique concept that is summarized in its signature: Camille Albane Hairdresser Color-Technician Make-up Artist. In 14 countries and nearly 300 salons, Camille Albane offers comprehensive
                                        beauty expertise to a growing number of women.
                                    </p>
                                </div>
                                <div class="sub-title">
                                    <h2 class="uppercase text-center">The SALON</h2>
                                </div>
                                <div class="cont-abt">
                                    <p class="text-justify">
                                        Entering one of our salons means discovering the pleasure of a positive attitude and the warmth of a welcoming atmosphere. Our salons are made for encounters and advice and are designed to encourage discussions and confidences between you and our franchisees.
                                        You will be welcomed and taken care of immediately. The many talents of our experts offer you real reassurance.
                                    </p>
                                    <p class="text-justify">
                                        During your entire appointment, only one stylist-colorist-makeup artist takes care of all your needs. During the consultation step, this person will observe you, discuss your expectations and propose the appropriate cutting, color and makeup services.
                                        This all takes place inside an impeccably clean and hygienic salon.
                                    </p>
                                </div>
                                <div class="salon">
                                    <div class="row">
                                        <div class="salon-image1">
                                            <img src="img/albane/s1.jpg" class="img-responsive" alt="Salon">
                                        </div>
                                        <div class="salon-image2">
                                            <img src="img/albane/s2.jpg" class="img-responsive" alt="Salon">
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="salon">
                                    <div class="row">
                                        <div class="salon-image">
                                            <img src="img/albane/salon.png" class="img-responsive" alt="Salon">
                                        </div>
                                    </div>
                                </div> -->
                                <div class="row">
                                    <div class="col-md-offset-2 col-md-8">
                                        <div class="sub-title">
                                            <h2 class="uppercase text-center">COLLection</h2>
                                        </div>
                                        <div class="cont-about">
                                            <h3 class="text-center">Sparkles</h3>
                                            <h4 class="text-center">Spring-Summer 2016 Collection</h4>
                                            <p class="text-center">
                                                Sparkles of laughter, of light, of color… this spring and summer, Camille Albane is illuminating women and revealing their beauty and femininity.
                                            </p>
                                            <p class="text-center">
                                                The Sparkles! collection offers a whole palette of possibilities to personalize.
                                            </p>
                                            <p class="text-center">
                                                This season’s haircuts and colors are luminous and uplifting and accompany a woman in all her moments of joy. Camille Albane’s ambition? To make women happy!
                                            </p>
                                        </div>
                                        <div class="brand-video">
                                            <div class="row">
                                                <div class="salon-video fancybox.iframe" fancybox-box href="http://www.youtube.com/embed/KMD1mi0Wlco?autoplay=1&modestbranding=0&showinfo=0&rel=0&loop=1">
                                                    <img src="img/albane/video.jpg" class="img-responsive" alt="Video">
                                                    <i class="fa fa-play"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="img-collect">
                                            <!-- <div class="row">
                                                <div class="collection">
                                                    <img src="img/albane/collection.png" class="img-responsive" alt="" />
                                                </div>
                                              </div> -->
                                                <div class="row">
                                                  <div class="together">
                                                    <div class="collect">
                                                          <div class="collect1">
                                                            <img src="img/albane/01.jpg" class="img-responsive" alt="">
                                                          </div>
                                                          <div class="collect2">
                                                            <img src="img/albane/03.jpg" class="img-responsive" alt="">
                                                          </div>
                                                    </div>
                                                    <div class="collects">
                                                            <div class="collects1">
                                                              <img src="img/albane/02.jpg" class="img-responsive" alt="">
                                                            </div>
                                                            <div class="collects2">
                                                              <img src="img/albane/04.jpg" class="img-responsive" alt="">
                                                            </div>
                                                    </div>
                                                  </div>
                                                </div>
                                                <!-- <div class="cols">
                                                    <div class="one">
                                                      <!-- <img src="img/dessange/1.jpg" class="img-responsive" alt=""> -->
                                                <!-- </div> -->
                                                <!-- <div class="two"> -->
                                                <!-- <img src="img/dessange/2.jpg" class="img-responsive" alt=""> -->
                                                <!-- </div>
                                                    <div class="three"> -->
                                                <!-- <img src="img/dessange/3.jpg" class="img-responsive" alt=""> -->
                                                <!-- </div>
                                                    <div class="four"> -->
                                                <!-- <img src="img/dessange/4.jpg" class="img-responsive" alt=""> -->
                                                <!-- </div> -->
                                                <!-- </div> -->
                                        </div>
                                        <div class="text-center">
                                            <a class="btn btn-primary btn-outline uppercase" href="http://www.camillealbane.com/en/" target="_blank">Visit Website</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
