<div class="dessange">
    <div class="overview">
        <div class="bg-brand">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="head-title in-middle">
                            <img class="position-center" src="img/dessange/Logo.png" alt="Dessange Logo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="bg">
                        <div class="cont-dessange">
                            <div class="sub-title">
                                <h2 class="uppercase text-center">ABOUT Dessange</h2>
                            </div>
                            <div class="cont-abt">
                                <p class="text-justify" ng-bind-html="Dessange.about">
                                    <!-- Post-war France revolutionized female beauty, abandoning a fixed fashion standard for more fluid lines and lighter silhouettes. In Paris a young hairdresser, Jacques Dessange crowned this new generation of free women by creating innovative, elegant
                                    and natural cuts. Pioneer of hairstyles full of movement which enhance the face, he established the Coiffé-Décoiffé ("messy look") technique which led to his success -->
                                    </p>
                                <!-- <p class="text-justify">
                                    In 1954, to give free rein to his creativity, Jacques Dessange opened his first salon on the Champs-Elysées – soon to become a famous "temple" where hairdressing and global beauty were reinvented on a daily basis. The generous ambition which has
                                    driven the brand forward since its creation is still, even now, modeled on this historic salon that has since moved to 39, avenue Franklin Roosevelt where the heart of Maison DESSANGE continues to beat.</p>
                                <p class="text-justify">
                                    In the 60s, the pioneer spirit and professionalism of Maison DESSANGE made a real name for the company. It launched the "Prestige Shows", spectacular demonstrations which, every year, brought together hairdressing professionals in the Cirque d'Hiver
                                    venue in Paris. In its desire to bring about the reign of beauty, the brand expanded worldwide, while its founder created training centers around the world where the trade is handed down with passion to the future architects of glamour.</p>
                                <p class="text-justify">
                                    Today, this same passion drives all the key players of Maison DESSANGE, today chairmes by Benjamin Dessange, expanded by its elegant legacy and forever turned towards the future. With 500 salons spread throughout more than 45 countries, it exerts its
                                    influence and know-how across the globe.
                                </p> -->
                            </div>
                            <div class="sub-title">
                                <h2 class="uppercase text-center">The SALON EXPERIENCE</h2>
                            </div>
                            <div class="cont-abt btn-location" >
                                <p class="text-justify" ng-bind-html="Dessange.salonexp">
                                    <!-- Finally, it is time for you to open the door to this intimate beauty parlor, a subtle incarnation of French art de vivre where you will experience a luxury that suits your style. Every time, you have the same impression: it is as if you were
                                    returning home. A face lights up over there as it sees you, and is followed by another. Your hostesses smile and walk over to you, carrying the elegance of the environment with them. -->
                                </p>
                                <!-- <p class="text-justify">
                                    You stretch out in the chair that is offered to you. Feeling calm and confident, you put your trust in the experts who are already providing you with advice.They are guardian angels for your beauty. You only remember the rest through a cloud of
                                    sparkling details, like the facets of a custom-cut diamond.
                                </p>
                                <p class="text-justify">
                                    The neat, flawless robe… the shampoo ritual with precious oils whose soothing fragrance envelopes you in a cocoon of well-being… the collective consultation with the tablet, to fulfill your every desire… the excellence of the final choice suited to
                                    your current mood… the aerial precision of the scissor cut… the unparalleled perfection of the styled-unstyled look – which you had never before dared to try! … the troubling reality of the patina color… the new fresh look of your face… and the
                                    smoothness of your lipstick, the final touch added to perfect your transformation.
                                </p>
                                <p class="text-justify">
                                    When it is time to stand up, you feel fulfilled and understand that no, it was not a dream. From head to toe, you are radiating with sublime beauty. You sense this through the friendly looks of the employees who see you to the door. You linger at the
                                    door for a moment, breathing in the healthy air of the salon one last time, and then you head out in your excellence, ready to conquer the world.
                                </p> -->
                            </div>
                            <div class="btn-location" ng-init="showSlider = 1">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4">
                                        <a class="btn btn-primary btn-med btn-outline uppercase" ng-click="showSlider = 1" ng-class="{'active-links' : showSlider=='1'}">Kemps Corner</a>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <a class="btn btn-primary btn-med btn-outline uppercase" ng-click="showSlider = 2" ng-class="{'active-links' : showSlider=='2'}">Lower Parel</a>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <a class="btn btn-primary btn-med btn-outline uppercase" ng-click="showSlider = 3" ng-class="{'active-links' : showSlider=='3'}">Bandra</a>
                                    </div>
                                </div>
                            </div>
                            <div class="salon">
                                <div class="row">
                                    <div class="slider-location">
                                        <flex-slider flex-slide="slide in kemps track by $index" animation="slide" prev-text="" next-text="" ng-if="showSlider == 1" animationSpeed="300" ,>
                                        <li class="">
                                            <div class="salon-image">
                                                <img ng-src="{{slide.img}}" class="img-responsive" alt="Salon">
                                            </div>
                                        </li>
                                    </flex-slider>
                                    <flex-slider flex-slide="slide in parel track by $index" animation="slide" prev-text="" next-text="" ng-if="showSlider == 2" animationSpeed="300" ,>
                                        <li class="">
                                            <div class="salon-image">
                                                <img ng-src="{{slide.img}}" class="img-responsive" alt="Salon">
                                            </div>
                                        </li>
                                    </flex-slider>
                                    <flex-slider flex-slide="slide in bandra track by $index" animation="slide" prev-text="" next-text="" ng-if="showSlider == 3" animationSpeed="300" ,>
                                        <li class="">
                                            <div class="salon-image">
                                                <img ng-src="{{slide.img}}" class="img-responsive" alt="Salon">
                                            </div>
                                        </li>
                                    </flex-slider>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-offset-2 col-md-8">
                                <div class="sub-title">
                                    <h2 class="uppercase text-center">Collection</h2>
                                </div>
                                <div class="cont-about">
                                    <h3 class="text-center">{{Dessange.collectionname}}</h3>
                                    <p class="text-center" ng-bind-html="Dessange.content">
                                        <!-- Light and colors emerge from a velvety black background as symbols of irresistible femininity. The graphic lines of the accessories and styling with an Eighties inspiration match the acid and translucent colors that are hot news this season. Visibly
                                        layered cuts with wispy ends brighten up faces. The misleading simplicity of texture and styling and the flowing movements of the cuts evoke a feeling of freedom and natural sophistication. Colors have their word to say with intensity and candor. -->
                                    </p>
                                </div>
                                <!-- <div class="brand-video">
                                    <div class="row">
                                        <div class="salon-video fancybox.iframe" fancybox href="{{Dessange.videourl|youtubethumb:true}}?autoplay=1&modestbranding=0&showinfo=0&rel=0&loop=1">
                                            <img ng-src="{{Dessange.videourl|youtubethumb:false}}" class="img-responsive" alt="Video">
                                            <i class="fa fa-play"></i>
                                        </div>
                                    </div>
                                </div> -->
                                <div class="brand-video">
                                    <div class="row">
                                        <div class="salon-video fancybox.iframe" fancybox href="http://www.youtube.com/embed/w_F829NgXx4?autoplay=1&modestbranding=0&showinfo=0&rel=0&loop=1">
                                            <img src="img/dessange/video.jpg" class="img-responsive" alt="Video">
                                            <i class="fa fa-play"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="img-collect">
                                    <div class="row">
                                        <div class="together">
                                            <div class="collect">
                                                <div class="collect1">
                                                    <img ng-src="{{Dessange.images[0].image1|uploadpath}}" class="img-responsive" alt="">
                                                </div>
                                                <div class="collect2">
                                                    <img ng-src="{{Dessange.images[0].image3|uploadpath}}" class="img-responsive" alt="">
                                                </div>
                                            </div>
                                            <div class="collects">
                                                <div class="collects1">
                                                    <img ng-src="{{Dessange.images[0].image2|uploadpath}}" class="img-responsive" alt="">
                                                </div>
                                                <div class="collects2">
                                                    <img ng-src="{{Dessange.images[0].image4|uploadpath}}" class="img-responsive" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="">
                                    <a class="btn btn-primary btn-big btn-outline uppercase" href="http://www.dessange.com/en/" target="_blank">Visit Website</a>
                                    <a class="btn btn-primary btn-big btn-outline uppercase pull-right" ng-click="myFunc()">Locate Store</a>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="store-locator" ng-show="showMe" class="animate-if">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4 brd-right">
                                            <address class="text-center">
                                                <h5>Kemps Corner :</h5>
                                                <p>
                                                    Chinoy Mansion, 162, Warden Road, Kemps Corner,
                                                    <br>Mumbai - 400 036.
                                                </p>
                                                <p>
                                                    Call Us : +91 22 23630100 / 23630200,
                                                </p>
                                                <p>
                                                    +91 9819925359
                                                </p>
                                            </address>
                                        </div>
                                        <div class="col-md-4 col-sm-4 brd-right">
                                            <address class="text-center">
                                                <h5>Lower Parel :</h5>
                                                <p>
                                                    Unit No. F-08, First Floor, High Street Phoenix 462, Senapati Bapat Marg, Lower Parel (West),
                                                    <br>
                                                    Mumbai - 400 013.

                                                </p>
                                                <p>
                                                    Call Us : +91 22 40128080 /40129090,
                                                </p>
                                                <p>
                                                    +91 9819383117
                                                </p>
                                            </address>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <address class="text-center">
                                                <h5>Bandra :</h5>
                                                <p>
                                                    Maqba heights, Shop no. 3, Dr. Ambedkar Road, Opposite HDFC Bank, Pali Naka, Bandra (West),
                                                    <br>Mumbai - 400 050.
                                                </p>
                                                <p>
                                                    Call Us : +91 22 26000170 /26000171
                                                </p>
                                            </address>
                                        </div>
                                    </div>
                                    <div class="tag-line">
                                        <h5>DESSANGE PARIS SALON AND SPA ARE OPEN SEVEN DAYS A WEEK, FROM 10 AMTO 9PM</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
