<section class="section">
  <div class="mediacorner">
    <div class="overview">
      <div class="bg-brand">
        <div class="container">
          <div class="row">
            <div class="col-md-7">
              <div class="in-middle-media">
                <div class="sub-title position-center">
                  <h1 class="uppercase text-center">Media</h1>
                  <h1 class="uppercase text-center">Corner</h1>
                </div>
              </div>
              <div class="link-made">
                <ul class="links list-inline text-center">
                  <li><a class="uppercase">HAIR &amp; MAKEUP </a></li>
                  <li><a class="uppercase">EDITORIALS</a></li>
                  <li><a class="uppercase">VIDEOS</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-5">
              <div class="slider-client">
                <flex-slider flex-slide="slide in wallpaper" animation="slide" animation-loop="false" slideshow="false" prev-text="" next-text="">
                  <li>
                    <div class="row" ng-repeat="row in slide">
                      <div class="col-md-4 col-sm-4 col-xs-4" ng-repeat="wall in row track by $index">
                        <!-- <a href="{{wall.video}}" fancybox class="" ng-class="{'fancybox.iframe':content.isIframe}"> -->
                          <a href="{{wall.image}}" fancybox class="">
                            <div class="press">
                              <figure>
                                <div class="media-image">
                                <!-- <div class="media-image" ng-if="wall.img !== ''"> -->
                                  <img ng-src="{{wall.img}}" alt="" class="img-responsive">
                                </div>
                                <!-- <div class="media-image" ng-if="wall.video !== ''">
                                  <a href="" fancybox class="various fancybox.iframe">
                                    <img ng-src="http://img.youtube.com/vi/{{wall.video}}/hqdefault.jpg" alt="" class="youtube-img">
                                    <i class="fa {{wall.icon}}"></i>
                                  </a>
                                </div> -->
                              </figure>
                            </div>
                          <!-- </a> -->
                        </a>
                      </div>
                    </div>
                  </li>
                </flex-slider>
              </div>
              <div class="slider-client">
                <flex-slider flex-slide="slide in wallpaper2" animation="slide" animation-loop="false" slideshow="false" prev-text="" next-text="">
                  <li>
                    <div class="row" ng-repeat="row in slide">
                      <div class="col-md-4 col-sm-4 col-xs-4" ng-repeat="wall in row track by $index">
                        <a href="{{wall.video}}" fancybox class="" ng-class="{'fancybox.iframe':content.isIframe}">
                          <a href="{{wall.image}}" fancybox class="" ng-class="{'fancybox.iframe':content.isIframe}">
                            <div class="press">
                              <figure>
                                <div class="media-image" ng-if="wall.img !== ''">
                                  <img ng-src="{{wall.img}}" alt="" class="img-responsive">
                                </div>
                                <!-- <div class="media-image" ng-if="wall.video !== ''">
                                  <a href="" fancybox class="various fancybox.iframe">
                                    <img ng-src="http://img.youtube.com/vi/{{wall.video}}/hqdefault.jpg" alt="" class="youtube-img">
                                    <i class="fa {{wall.icon}}"></i>
                                  </a>
                                </div> -->
                              </figure>
                            </div>
                          </a>
                        </a>
                      </div>
                    </div>
                  </li>
                </flex-slider>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
