<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-3 col-xs-3">
              <ul class="list-unstyled">
                <li>Overview</li>
                <li><a>Vision</a></li>
                <li><a >Mission</a></li>
              </ul>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-5">
              <ul class="list-unstyled">
                <li>Brands</li>
                <li><a ui-sref="dessange">Dessange Paris</a></li>
                <li><a ui-sref="albane">Camille Albane Paris</a></li>
                <li><a ui-sref="phytodess">Phytodess Paris</a></li>
              </ul>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-4">
              <ul class="list-unstyled ul-head">
                <li><a>Careers</a></li>
                <li><a ui-sref="media-corner">Media</a></li>
                <li><a>Contact Us</a></li>
              </ul>
            </div>
            <div class="col-md-6 col-sm-3">
                <div class="pull-right no-pad-p">
                  <p ng-include="template.social" class="social text-right margin0"></p>
                    <p class="text-right margin0">&copy;
                        {{template.year}}
                        MARK SALON &amp; SPA | All rights reserved</p>
                    <p class="text-right margin0">Designed by
                        <a href="http://www.ting.in" target="_blank">TING</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
